/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Rancho);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}

body {
    background-image: url(../img/brickwall.png);
    height: 100vh;
}

a {
    text-decoration:none;
}

.container {
    width: 100%;
    margin: 0px auto;
}


.content {
    margin: 0px 200px;

}

.header {
    position: fixed;
    height: 160px;
    width: 100%;
    position: relative;
    left: 40px;
}

.logo a:visited {
    color:inherit;
}

.navTop {
    position: absolute;
    right:0px;
}

.navTop a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    color: #333333;
    font-family: 'Bitter', serif;
    margin-top: 9px;
    margin-right: 90px;
}

.navTop a:hover {
        color: #7d26cd;
}

.homename {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin-top: 25px;
    margin-bottom: 0px;

}

.jobtitle {
    float: left;
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color: #7d26cd;
}

.profilePic {
    max-height: 360px;
    border-radius: 50%;
}

#helloTag {
    font-family: 'Rancho', cursive;
    font-size: 7em;
    margin-top: -34px;
    margin-bottom: 0px

}

#bitTag {
    font-family: 'Rancho', cursive;
    font-size: 4em;
    margin-top: -38px;
    margin-bottom: 0px

}

.left {
    width: 40%;
    position:relative;
    float:left;
}

.right {
    width: 60%;
    position:relative;
    float:right;
}

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

.round-button {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    margin: 0px 20px 0px 0px ;

}

.round-button:hover {
    background:#737373;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

.round-button a {
    display: block;
    width: 100%;
    line-height: 139px;
    font-size: 15px;

    text-align:center;
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
}

.resume-button {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: inline-block;

}
.resume-button p {
    display: block;
    width: 100%;
    line-height: 115px;
    font-size: 15px;
    text-align:center;
    color:#FFFFFF;
    font-weight:bold;
}

.resume-button.red-bg {
    background-color: rgba(232, 53, 86, 1);
}

.round-button.red-bg {
    background-color: rgba(232, 53, 86, 1);
}


.round-button.blue-bg {
    background-color: rgba(97, 207, 211, 1);

}

.round-button.yellow-bg {
    background-color: rgba(209, 200, 37, 1);
}

.pFont{
    font-family: 'Bitter', serif;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 20px;
}

.boldfont{
    font-weight: bold;
}

.quotation {
    margin-top:50px;
    margin-bottom: 0;
}

.pageTitle {
    font-family: 'Bitter', serif;
    font-size: 5em;
    margin-top: -34px;
    margin-bottom: -15px;
    color: #FFFFFF;
}

.homeFooter {
    position: absolute;
    bottom: -80px;
    left:0;
    width: 100%;
    height: 80px;
    background-color: #7d26cd;
}

.footer {
    position: relative;
    margin: 0;
    left:0;
    width: 100%;
    height: 80px;
    background-color: #7d26cd;
}


.social a {
    display:inline-blcok;
    line-height: 85px;
    margin-right: 20px;
}

.social p {
    display: inline-block;
    color: rgb(131,131,131);
    margin-right: 20px;
    font-family: 'Bitter', serif;
}

.mainContent {
    position: relative;
    left:40px;
    font-size: 14px;
}

.resumeLeft  {
    width: 12%;
    float:left;
}

.resumeRight  {
    width: 88%;
    float:right;
}

.umnLogo {
    height:100px;
    width:100px;
    right:50px;
    position: absolute;
    top: 128px;
    box-shadow: 10px 10px 10px #888888;
}

.firstline{
    margin:0;
    font-family: Courier New;
    font-weight:bold;
    font-size:1.5em;
}

.title{
    font-family: Courier New;
    margin:0;
}

ul li {
    font-family: 'Bitter', serif;
    text-align: justify;
}

.three-colrow {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    width: 28.333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;

}

.portfolio-item {
  margin-bottom: 25px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
  vertical-align: middle;
}


.three-colrow a {
    font-family: Courier New;
    font-weight: bold;
    color: rgb(242, 116, 5);
}

.three-colrow a:hover {
    color: #7d26cd;
}


.three-colrow p {
    font-family: 'Bitter', serif;
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*home buttons animation*/
.scale {
    -webkit-transition: all 1.15s ease; /* Safari and Chrome */
    -moz-transition: all 1.15s ease; /* Firefox */
    -ms-transition: all 1.15s ease; /* IE 9 */
    -o-transition: all 1.15s ease; /* Opera */
    transition: all 1.15s ease;
}

.scale:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.projectName {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    line-height: 145px;
    background-color: rgba(232, 53, 86, 1);
    color: #FFFFFF;
    font-size: 30px;
    margin:0;
}


/*project modal window */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}


.modalDialog > div {

    width: 600px;
    height:auto;
    position: relative;
    margin: 2% auto;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}


.modalDialog iframe {
    margin: 0 auto;
    width:600px;
    height:800px;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
/**/
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
